<h1><%= notebook.get('title') %></h1>
<a href="#notebooks/<%= notebook.id %>/edit">Edit Notebook</a>
<ul class="notes">
  <% notes.each( function(note) { %>
    <li>
      <a href="#/notebooks/<%= notebook.id %>/notes/<%= note.id %>">
        <%= note.get('title') %>
      </a>
    </li>
  <% }) %>
</ul>
<a href="#notebooks/<%= notebook.id %>/notes/new">New Note</a>
