<div class="col-sm-4 col-sm-offset-4">

  <form action="<%= form_action %>", method="post" >

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <h2 class="form-signin-heading"><%= submit_text %></h2>
    <label for="username" class="sr-only">username</label>
    <input type="text" id="username" placeholder="Username" name="user[username]" class="form-control" value="<%= user.username %>">

    <label  for="user_password" class="sr-only">password</label>
    <input type="password" name="user[password]" placeholder="Password" class="form-control" id="password">

    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= submit_text %></button>
  </form>

  <form action=<%= session_url %> method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[username]" value="guest">
    <input type="hidden" name="user[password]" value="password">
    <button class="btn btn-lg btn-primary btn-block btn-success" type="submit">Guest</button>

  </form>

</div>

