<div class="col-md-6 col-md-offset-3">
  <h1><%= note.isNew() ? "Edit" : "New" %>Note</h1>
  <form>

    <div class='form-group'>
      <label for='note-notebook'>Notebook</label>
      <select id='note-notebook' name='note[notebook_id]' class='form-control'>
        <% notebooks.each( function(notebook) { %>
          <option
          value="<%= notebook.id %>"
          <% if (notebook.id === defaultNotebook.id) { %>
            selected
          <% } %>
          ><%= notebook.get('title') %></option>
        <% }) %>
      </select>
    </div>

    <input type="hidden" name="note[tag_ids][]" value="">
    <label for="tag-boxes">Tags</label>
    <div class='checkbox' id="tag-boxes">
      <% tags.each( function(tag) { %>
        <label class="checkbox-inline"
          ><input
            type="checkbox"
            name="note[tag_ids][]"
            value="<%= tag.id %>"
            <% if (tagIds.indexOf(tag.id) !== -1 ) { %> checked <% } %>
          ><%= tag.get('title') %></label>
      <% }) %>
    </div>

    <div class="form-group">
      <label for="note-title">Title</label>
      <input
        id="note-title"
        class="form-control"
        type="text"
        name="note[title]"
        value="<%= note.get('title') %>"
      >
      </input>
    </div>

    <div class="form-group">
      <label for="note-body">Body</label>
      <textarea id="note-body" class="form-control" name="note[body]"
        ><%= note.get('body') %></textarea>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
<!-- eventuallly add a cancel button -->
