<a href= '#/notes/<%= this.model.id%>'>
    <span><%= note.get('title') %></span>
    <br>

    <div class="second-row clearfix">
      <small class="pull-left">
        <% note.tags().each( function(tag) { %>
          <span><%= tag.get('title') %></span>
        <% }) %>
      </small>

      <div class="timestamp">
        <small><abbr class="timeago pull-right" title="<%= note.get('updated_at') %>">
            <%= note.get('updated_at') %>
        </abbr></small>
      </div>
    </div>
</a>

