<div class="col-md-8 col-md-offset-2 note-show">
  <div class="note-title text-center">
    <p class='lead'><%= note.get('title') %></p>
  </div>
  <div>
    <%= note.get('body') %>
  </div>
  <div>
    <p>Notebook: <%= notebook.get('title') %></p>
    <p>Tags: <%= note.tags().map(function(tag) { return tag.get('title'); }) %></p>
  </div>
  <div>
    <a href="#notebooks/<%= notebook.id %>/notes/<%= note.id %>/edit">Edit Note</a>
    <br>
    <a href="#notebooks/<%= notebook.id %>">Back to Notebook</a>
  </div>
</div>
